<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.eldorado.desafioford">

    <!--
    As not all Android powered smartphones support the Moto Mods APIs, include
    a uses-feature statement for com.motorola.hardware.mods element.

    When you declare android:required="true", you are specifying that the application
    cannot function, or is not designed to function, when the specified feature is not
    present on the device.

    When you declare android:required="false", it means that the application prefers to
    use the feature if present on the device, but that it is designed to function without
    the com.motorola.hardware.mods feature, if necessary.

    The default value for android:required if not declared is "true".
    -->
    <uses-feature android:name="com.motorola.hardware.mods" />

    <!--
 If your application uses any of functionality of the ModManager, it needs to declare
 use of the PERMISSION_MOD_ACCESS_INFO permission.

 If your application needs access to the RAW interface, your manifest should declare
 that your application needs the PERMISSION_USE_RAW_PROTOCOL permission. Your code also
 needs to check for this permission grant at runtime, and prompt the user to grant this
 permission to your application if needed.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.motorola.mod.permission.MOD_ACCESS_INFO" />
    <uses-permission android:name="com.motorola.mod.permission.RAW_PROTOCOL" />

    <application
        android:name=".DesafioFordApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Set the minimum Moto Mods SDK of the application required. -->
        <meta-data
            android:name="com.motorola.mod.version"
            android:value="@integer/moto_mod_services_version" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>